<template>
  <section class="px-1 py-5">
    <div class="flex flex-col relative">
      <h1 class="text-grey-font px-20 text-[21px] text-center">
        Drei einfache Schritte zu deinem neuen Mitarbeiter
      </h1>
      <div class="mt-5">
        <div class="flex items-center justify-center mt-5">
          <Worker1 />
        </div>
        <div class="-mt-14 relative flex items-end px-3">
          <span class="circle"></span>
          <p class="ml-5 text-[130px] text-grey-font">1.</p>
          <p class="ml-3 text-[17.5px] text-grey-font font-light mb-10"
            >Erstellen dein Unternehmensprofil</p
          >
        </div>
      </div>
      <Wave2 />
      <div class="bg-calm-water">
        <div class="-mt-5 flex items-end px-3">
          <p class="ml-10 text-[130px] text-grey-font">2.</p>
          <p class="ml-3 text-[17.5px] text-grey-font font-light mb-10"
            >Erstellen ein Jobinserat</p
          >
        </div>
        <div class="flex items-center justify-center">
          <Employee1 class="" />
        </div>
      </div>
      <Wave3 />
      <div class="">
        <div class="-mt-14 relative flex items-end  px-3">
          <span class="circle-two"></span>
          <p class="ml-14 text-[130px] text-grey-font">3.</p>
          <p class="ml-3 text-[17.5px] text-grey-font font-light mb-5"
            >Wähle deinen neuen Mitarbeiter aus</p
          >
        </div>
        <div class="flex items-center justify-center">
          <Employee2 />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Worker1 from '@/assets/svg/undraw_Profile_data_re_v81r.svg?inline'
import Employee1 from '@/assets/svg/undraw_about_me_wa29.svg?inline'
import Employee2 from '@/assets/svg/undraw_swipe_profiles1_i6mr.svg?inline'
import Wave2 from '@/assets/svg/wave2.svg?inline'
import Wave3 from '@/assets/svg/wave3.svg?inline'

export default {
  name: 'LandingPageWorker',
  components: {
    Worker1,
    Employee1,
    Employee2,
    Wave2,
    Wave3,
  },
}
</script>

<style scoped>
.circle-one {
  position: absolute;
  top: 10px;
  left: -50px;
  width: 208px;
  height: 208px;
  background: #f7fafc 0% 0% no-repeat padding-box;
  opacity: 0.5;
  border-radius: 50%;
  z-index: -1;
}

.circle-two {
  position: absolute;
  top: 10px;
  left: -54px;
  width: 304px;
  height: 303px;
  background: #f7fafc 0% 0% no-repeat padding-box;
  opacity: 1;
  border-radius: 50%;
  z-index: -1;
}
</style>