<template>
  <section class="min-h-screen -mt-2">
    <div class="bg-gradient-to-b from-placebo-blue to-calm-water">
      <div class="text-center p-5 flex flex-col">
        <span class="text-5xl font-normal leading-tight">Deine Job</span>
        <span class="text-5xl font-normal leading-tight">website</span>
      </div>
      <LandingImage class="max-w-md" />
    </div>
    <Wave1 />
    <div class="mt-10">
      <landing-page-tab @changeTab="onChangeTab" />
      <transition name="fade">
        <component :is="component"></component>
      </transition>
    </div>
  </section>
</template>

<script>
import LandingImage from '@/assets/svg/undraw_agreement_aajr.svg?inline'
import Wave1 from '@/assets/svg/wave1.svg?inline'

export default {
  name: 'LandingPage',
  components: {
    LandingImage,
    Wave1,
  },
  data() {
    return {
      component: 'LandingPageWorker',
    }
  },
  methods: {
    onChangeTab(tab) {
      this.component = tab
    },
  },
}
</script>

<style scoped>
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

</style>