<template>
  <div class="container">
    <div ref="tabs" class="tabs">
      <input
        id="radio-1"
        type="radio"
        name="tabs"
        checked
        @change="onChangeTab('LandingPageWorker')"
      />
      <label class="tab border-right" for="radio-1">Arbeitnehmer</label>
      <input
        id="radio-2"
        type="radio"
        name="tabs"
        @change="onChangeTab('LandingPageEmployer')"
      />
      <label class="tab border-right" for="radio-2">Arbeitgeber</label>
      <input
        id="radio-3"
        type="radio"
        name="tabs"
        @change="onChangeTab('LandingPageTemporary')"
      />
      <label class="tab" for="radio-3">Temporärbüro</label>
      <span class="glider"></span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'BaseTab',
  methods: {
    onChangeTab(tab) {
      if (tab === 'LandingPageWorker') {
        this.$refs.tabs.style.marginLeft = '15rem'
      }
      if (tab === 'LandingPageEmployer') {
        this.$refs.tabs.style.marginLeft = '0'
      }
      if (tab === 'LandingPageTemporary') {
        this.$refs.tabs.style.marginLeft = '-15rem'
      }
      this.$emit('changeTab', tab)
    },
  },
}
</script>

<style lang="scss" scoped>
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.tabs {
  display: flex;
  position: relative;
  background-color: #fff;
  transition: 0.25s ease-out;
  border: 1px solid #e6e6e6;
  padding: 0.1rem;
  margin-left: 15rem;
  border-radius: 99px;
  * {
    z-index: 2;
  }
}

input[type='radio'] {
  display: none;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 54px;
  width: 200px;
  font-size: 1.25rem;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.15s ease-in;
}

.border-right {
  border-right: 1px solid #CBD5E0;
}

input[type='radio'] {
  &:checked {
    & + label {
      color: #fff;
    }
  }
}

input[id='radio-1'] {
  &:checked {
    & ~ .glider {
      transform: translateX(0);
      border-top-left-radius: 99px;
      border-bottom-left-radius: 99px;
    }
  }
}

input[id='radio-2'] {
  &:checked {
    & ~ .glider {
      transform: translateX(100%);
      border-radius: 0;
    }
  }
}

input[id='radio-3'] {
  &:checked {
    & ~ .glider {
      transform: translateX(200%);
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: 99px;
      border-bottom-right-radius: 99px;
    }
  }
}

.glider {
  position: absolute;
  display: flex;
  height: 54px;
  width: 200px;
  background-color: #81e6d9;
  z-index: 1;
  border-top-left-radius: 99px;
  border-bottom-left-radius: 99px;
  transition: 0.25s ease-out;
}

@media (max-width: 700px) {
  .tabs {
    transform: scale(0.8);
  }
}

</style>