<template>
  <div class="bottom-0 sticky z-10 bg-transparent">
    <div class="bg-white shadow-xl border border-gray-300 rounded-t-2xl p-3">
      <button
        class="
          w-full
          rounded-full
          p-3
          bg-gradient-to-r
          from-azure-tide
          to-heirloom-hydrangea
          text-white
        "
      >
        Kostenlos Registrieren
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TheFooter',
}
</script>