<template>
  <div class="top-0 sticky z-10 bg-transparent">
    <div
      class="bg-gradient-to-r from-azure-tide to-heirloom-hydrangea w-full p-1"
    ></div>
    <div class="bg-white shadow-xl border border-gray-300 rounded-b-2xl p-5">
      <div class="text-right">
        <nuxt-link to="/" class="text-sm text-heirloom-hydrangea"
          >Login</nuxt-link
        >
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TheHeader',
}
</script>